@import './scss/themes/theme-dark.scss';
@import './scss/themes/theme-light.scss';

@font-face{
  font-family: "half-bold-pixel-7-regular";
  src: local("half-bold-pixel-7-regular"),
    url("./fonts/Half_Bold_Pixel-7/half-bold-pixel-7.regular.ttf") format("truetype");
    font-weight: bold;
}

html {
	scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "half-bold-pixel-7-regular", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
}

.font-pixel{
  font-family:"half-bold-pixel-7-regular";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.front-particles {
  z-index: 101;
}

.front-particles {
  z-index: 102;
}

.nav-bar-links {
  font-size: larger;
}
