
body[data-theme="light"] {  

    // @import '../src/scss/dark-slider.scss';

    $fontColor: black;
    $primaryBackgroundColor: rgb(208, 230, 233);
    $secondaryBackgroundColor :rgb(161, 161, 161);
 
    .slider-tab {
       background-color: #8C8C8C;
    }

    .main-container-home {
      background-color: $primaryBackgroundColor;
    }
 
    .title {
       color: $fontColor;
    }

    .bottom-navbar {
      background-color: $primaryBackgroundColor;
    }

    .about-container {
       background-color: $secondaryBackgroundColor;
    }

    .experience-container {
      background-color: $primaryBackgroundColor;
    }

    .skills-container {
      background-color: $secondaryBackgroundColor;
    }

    .font-color {
       color: $fontColor;
    }

    .vertical-timeline-element-content{
      background-color: $secondaryBackgroundColor;
    }

    .vertical-timeline-element-date{
      font-family:"half-bold-pixel-7-regular";
      color: $fontColor;
    }

    .skill-card {
      background-color: $primaryBackgroundColor;
      border: 2px solid $fontColor !important;
    }

    .card-skills-group {
      color: $fontColor;
      background-color: transparent;
      border: 3px solid $fontColor;
    }

    .ant-card-head {
      color: $fontColor;
      text-align: center;
      border-bottom: 3px solid $fontColor;
    }

    .ant-drawer-content {
      background-color: $primaryBackgroundColor;
    }

    .ant-drawer-header {
      background-color: $primaryBackgroundColor;
    }

    .anticon-close {
      color: $fontColor;
    }

    .barsMenu{
      color: $fontColor;
      background-color: transparent;
      border-color: transparent;
    }

    .ant-progress-text{
      color: $fontColor;
    }

    .ant-progress-steps-item {
      background: $secondaryBackgroundColor;
    }

    .ant-progress-steps-item-active {
      background: $fontColor !important;
    }

    .ant-menu {
      background-color: $primaryBackgroundColor;
      color: $fontColor;
    }

    .ant-select-item-option-active {
      background-color: $secondaryBackgroundColor !important;
    }
    .ant-select-item-option-active:hover {
      background-color: $secondaryBackgroundColor !important;
    }
    .ant-select-item-option {
      background-color: $primaryBackgroundColor;
    }
    .ant-select-selector {
      background-color: $primaryBackgroundColor !important;
      border-color: $primaryBackgroundColor !important;
    }
    .ant-select-arrow {
      color: $fontColor;
    }


}