
body[data-theme="dark"] {  

    // @import '../src/scss/dark-slider.scss';
 
    .slider-tab {
       background-color: #8C8C8C;
    }

    .main-container-home {
      background-color: rgb(37, 41, 52);
    }
 
    .title {
       color: white;
    }

    .bottom-navbar {
      background-color: rgb(37, 41, 52);
    }

    .about-container {
       background-color: rgba(49, 49, 49, 0.849);
    }

    .font-color {
       color: white;
    }

}