
body[data-theme="dark"] {  

    // @import '../src/scss/dark-slider.scss';
 
    .slider-tab {
       background-color: #8C8C8C;
    }

    .main-container-home {
      background-color: rgb(37, 41, 52);
    }
 
    .title {
       color: white;
    }

    .bottom-navbar {
      background-color: rgb(37, 41, 52);
    }

    .about-container {
       background-color: rgb(85, 85, 85);
    }

    .experience-container {
      background-color: rgb(37, 41, 52);
    }

    .skills-container {
      background-color: rgb(85, 85, 85);
    }

    .font-color {
       color: white;
    }

    .vertical-timeline-element-content{
      background-color: rgb(85, 85, 85);
    }

    .vertical-timeline-element-date{
      font-family:"half-bold-pixel-7-regular";
      color: white;
    }

    .skill-card {
      background-color: rgb(37, 41, 52);
    }

    .card-skills-group {
      color: white;
      background-color: transparent;
      border-color: white;
    }

    .ant-card-head {
      color: white;
      text-align: center;
      //font-size: larger;
    }

}