
body[data-theme="dark"] {  

    // @import '../src/scss/dark-slider.scss';

    $fontColor: white;
    $primaryBackgroundColor: rgb(37, 41, 52);
    $secondaryBackgroundColor :rgb(85, 85, 85);
 
    .slider-tab {
       background-color: #8C8C8C;
    }

    .main-container-home {
      background-color: $primaryBackgroundColor;
    }
 
    .title {
       color: $fontColor;
    }

    .bottom-navbar {
      background-color: $primaryBackgroundColor;
    }

    .about-container {
       background-color: $secondaryBackgroundColor;
    }

    .experience-container {
      background-color: $primaryBackgroundColor;
    }

    .skills-container {
      background-color: $secondaryBackgroundColor;
    }

    .font-color {
       color: $fontColor;
    }

    .vertical-timeline-element-content{
      background-color: $secondaryBackgroundColor;
    }

    .vertical-timeline-element-date{
      font-family:"half-bold-pixel-7-regular";
      color: $fontColor;
    }

    .skill-card {
      background-color: $primaryBackgroundColor;
    }

    .card-skills-group {
      color: $fontColor;
      background-color: transparent;
      border-color: $fontColor;
    }

    .ant-card-head {
      color: $fontColor;
      text-align: center;
      //font-size: larger;
    }

    .ant-drawer-content {
      background-color: $primaryBackgroundColor;
    }

    .ant-drawer-header {
      background-color: $primaryBackgroundColor;
    }

    .anticon-close {
      color: $fontColor;
    }

    .barsMenu{
      color: $fontColor;
      background-color: transparent;
    }

    .ant-progress-text{
      color: $fontColor;
    }

    .ant-progress-steps-item {
      background: $secondaryBackgroundColor;
    }

    .ant-progress-steps-item-active {
      background: $fontColor !important;
    }


}